<!--<div class="filters">-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Filter by Author</mat-label>-->
<!--    <input matInput [(ngModel)]="filters.author" (ngModelChange)="onFilterChange()" placeholder="Enter author's name" />-->
<!--  </mat-form-field>-->

<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Filter by Date</mat-label>-->
<!--    <mat-datepicker #picker [(ngModel)]="filters.date" (dateChange)="onFilterChange()"></mat-datepicker>-->
<!--    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--  </mat-form-field>-->
<!--</div>-->
